html,
body {
  height: 100%;
  background-color: #EFEFEF;
  margin: 0;
}

a {
  text-decoration: none;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;  
}

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

header {
  padding: 10px 16px 16px 16px;
  position: absolute;
  top: 0;
  box-sizing: border-box;
  width: 100%;
}

.topNav ul>li {
  list-style: none;
  float: left;
  border-bottom: 3px solid transparent;
  padding: 5px 0 5px 0;
  margin-right: 32px;
  
}

.topNav ul>li a {
  font-size: 12px;
  font-weight: 700;
  color: #B7B7B7;
}
.topNav ul>li:hover {
  border-bottom: 3px solid #DF6567;
}
.topNav {
  float: right
}

.logo {
  float: left;
  height: 67px;
  line-height: 60px;
}

.rs, .card {
  font-size: 24px;
  font-family: "Arial Black"
}
.rs{
  color: #E6686A;
}

.card {
  color: #B7B7B7;
}

.banner{
  height: 500px;
  background: url("rs-cover.jpg");
  background-position: center;
  background-size: cover;
}

.mark {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.user {
  position: relative;
}
.user-card {
  box-sizing: border-box;
  width: 940px;
  background-color: #fff;
  margin-top: -300px;
  margin-left: auto;
  margin-right: auto;
}

.user-content {
  padding: 20px;
}
.avatar, .user-info {
  float: left;
  box-sizing: border-box;
}

.avatar {
  width: 360px;
  padding: 20px;
}

.user-info {
  width: 540px;
  padding: 20px;
}

.avatar img {
  width: 320px
}
span.hello {
  color: #fff;
  background-color: #E6686A;
  font-size: 14px;
  padding: 5px 15px;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 15px  0px 0;
  border-color: #E6686A transparent transparent transparent;
  margin-left: 10px;
}

div.name {
  padding: 20px 0 20px 0;
}

span.name {
  font-size: 32px;
  font-weight: 700;
}

.info dt, .info dd {
  float: left;
  width: 50%;
  margin: 0;
  padding: 5px 0 5px 0;
}

.info dt {
  font-weight: 700;
}

.user-footer {
  background-color: #E6686A;
  text-align: center;
}

.user-footer a {
  display: inline-block;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  padding: 5px;
  margin: 10px;
  border-radius: 50%;
  background-color: #E6686A;
}

.user-footer a:hover {
  background-color: #CF5D63;
}

.user-footer svg {
  width: 40px;
  height: 40px;
  fill: #fff;
}

.download-pdf {
  text-align: center;
}

.btn-download {
  display: inline-block;
  padding: 20px 40px;
  border: 1px solid #cdcfd1;
  background-color: #efefef;
  margin-top: 30px;
  color: #000;
  font-weight: 600;
  transition: all 0.2s linear;
}

.btn-download:hover { 
  box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.2)
}

.introduce {
  text-align: center;
  font-size: 18px;
  margin-top: 50px;
}

.skills {
  width: 940px;
  margin: 50px auto;
}

.skills h2 {
  text-align: center;
}

.skills ul {
  background-color: #fff;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  padding: 50px;
}

.skills li {
  list-style: none;
  margin-bottom: 20px;
}

.skills li:nth-child(odd) {
  float: left;
  width: 48%;
}

.skills li:nth-child(even) {
  float: right;
  width: 48%;
}

.skills h3 {
  font-size: 14px;
}

.skills .progress {
  height: 6px;
  background-color: #FAE1E1;
  border-radius: 3px;
}

.skills .progress .value {
  height: 100%;
  width: 40%;
  background-color: #E6686A;
  border-radius: 3px;
}

.production {
  width: 940px;
  margin: 0 auto 200px auto;
  text-align: center;
}

.production ul {
  width: 270px;
  margin: 0 auto 5px auto;
}
.production ul>li {
  list-style: none;
  float: left;
  margin-right: 40px;
  cursor: pointer;
}

.production .progress {
  width: 260px;
  margin: 0 auto;
  height: 6px;
  background-color: #fff;
}

.production .progress .value1 {
  background-color: #E6686A;
  width: 26%;
  height: 100%;
  border-radius: 3px;
  transition: all 0.2s linear;
}

.production .progress .value2 {
  background-color: #E6686A;
  width: 29%;
  margin-left: 26%;
  height: 100%;
  border-radius: 3px;
  transition: all 0.2s linear;
}

.production .progress .value3 {
  background-color: #E6686A;
  width: 45%;
  margin-left: 55%;
  height: 100%;
  border-radius: 3px;
  transition: all 0.2s linear;
}

.production .display {
  display: grid;
  width: 940px;
  margin: 0 auto;
  box-sizing: border-box;
  grid-template-columns: 606px 293px;
  grid-template-rows: 285px 285px;
  grid-gap: 27px 41px;
  margin-top: 60px;
}

.production .jpg1 {
  grid-row: 1 / 3;
}

