html,
body {
  height: 100%;
  background-color: #EFEFEF;
  margin: 0;
}

a {
  text-decoration: none;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;  
}

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

header {
  padding: 10px 16px 16px 16px;
  position: absolute;
  top: 0;
  box-sizing: border-box;
  width: 100%;
}

ul>li {
  list-style: none;
  float: left;
  border-bottom: 3px solid transparent;
  padding: 5px 0 5px 0;
  margin-right: 32px;
  
}

ul>li a {
  font-size: 12px;
  font-weight: 700;
  color: #B7B7B7;
}
ul>li:hover {
  border-bottom: 3px solid #DF6567;
}
.topNav {
  float: right
}

.logo {
  float: left;
  height: 67px;
  line-height: 60px;
}

.rs, .card {
  font-size: 24px;
  font-family: "Arial Black"
}
.rs{
  color: #E6686A;
}

.card {
  color: #B7B7B7;
}

.banner{
  height: 500px;
  background: url("rs-cover.jpg");
  background-position: center;
  background-size: cover;
}

.mark {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.user {
  position: relative;
}
.user-card {
  box-sizing: border-box;
  width: 940px;
  background-color: #fff;
  position: absolute;
  top: -300px;
  left: 50%;
  transform: translateX(-50%);
}

.user-content {
  padding: 20px;
}
.avatar, .user-info {
  float: left;
  box-sizing: border-box;
}

.avatar {
  width: 360px;
  padding: 20px;
}

.user-info {
  width: 540px;
  padding: 20px;
}

.avatar img {
  width: 320px
}
span.hello {
  color: #fff;
  background-color: #E6686A;
  font-size: 14px;
  padding: 5px 15px;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 15px  0px 0;
  border-color: #E6686A transparent transparent transparent;
  margin-left: 10px;
}

div.name {
  padding: 20px 0 20px 0;
}

span.name {
  font-size: 32px;
  font-weight: 700;
}

.info dt, .info dd {
  float: left;
  width: 50%;
  margin: 0;
  padding: 5px 0 5px 0;
}

.info dt {
  font-weight: 700;
}

.user-footer {
  background-color: #E6686A;
  text-align: center;
}

.user-footer a {
  display: inline-block;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  padding: 5px;
  margin: 10px;
  border-radius: 50%;
  background-color: #E6686A;
}

.user-footer a:hover {
  background-color: #CF5D63;
}

.user-footer svg {
  width: 40px;
  height: 40px;
  fill: #fff;
<<<<<<< HEAD
}
=======
}
>>>>>>> 940ef457efeccfbb4a4c306a799d8c2957e20a67
